* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.heading{
     color: rgb(200,100,100); */
    color: #0A00F8;
    /* text-align: right; */
    text-align: center;
    /* text-decoration: underline; */
    text-decoration: underline;
    /* font-size: 50px;
    text-transform */
}
p{
    line-height: 30px;
}